.bag {
    font-family: 'Manrope', serif;
    padding-top: 0%;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    align-items: center;
    justify-content: space-between;
    padding: 100px 20px 0 20px;
    margin: 0 auto 0 auto;
}

.sale {
    display: inline-block;
    width: 63%;
    height: 80vh;
    overflow-y: scroll;
    
}
.sale::-webkit-scrollbar {
    width: 0;
  }

.total {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 0 0 20px;
    margin: 0;
    width: 27%;
}

.total h1 {
    padding: 0%;
    margin: 0 0 10% 0;
    text-transform: uppercase;
    font-size: 100%;
    letter-spacing: 0.18px;
    font-weight: 600;
}

.purchase {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5% 0;
}

.purchase div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 0 5%;
    margin: 0;
    height: 6vh;
    font-size: 90%;
}

.purchase div:nth-child(1) {
    border-top: 1px solid rgba(255, 255, 255, 0.15)
}

.promo {
    width: 100%;
}

.promo input {
    font-size: 90%;
    width: 90%;
    height: 3vh;
    padding: 1.5vh 5%;
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    color: white;
    transition: .3s;
    margin: 5% 0;
}

.promo input:focus {
    border: 2px solid rgba(255, 255, 255, 0.4);
    outline: none;
}

.promo input:hover {
    border: 2px solid rgba(255, 255, 255, 0.4);
}

.total button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 5% 0;
    width: 100%;
    height: 6vh;
    border-radius: 20px;
    background-color: white;
    color: black;
    border: none;
    text-transform: uppercase;
    font-size: 100%;
    letter-spacing: 0.18px;
    font-weight: 600;
    transition: .3s;
}

.total button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 768px) {
    .empty {
        display: none;
    }
    .bag {
        display: flex;
        flex-direction: column;
        padding: 0 0 150px 0;
    }
    .total {
        width: 90%;
        justify-content: center;
        align-items: center;
        height: 70%;
    }
    .total h1 {
        padding: 0%;
        margin: 20px 0 0 0;
        text-transform: uppercase;
        font-size: 95%;
        font-weight: 400;
    }
    .sale {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}