.btn,
.btn.btn-ptimary, 
.card-header, 
.card-body ,
.card-title.h5, 
.card-text 
 {
    padding: 0;
    margin: 0;
}


.sale-card {
    margin: 5% 0;
}

.card-det {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    height: 25vh;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 0;
    margin: 0;
}

.card-header,
.header-det {
    padding: 0;
    margin: 0;
    height: 23vh;
    margin-left: 1vh;
}

.header-det img {
    padding: 0;
    margin: 0;
    width: auto;
    background-color: white;
    height: 23vh;
    border-radius: 10px;
}

.det,
.card-body {
    width: 100%;
    margin: 0 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 23vh;
}



.card-title.h5 {
    font-size: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.card-text {
    padding: 0;
    margin: 0;
}

.text-card-bag {
    text-align: left;
    font-size: 90%;
    padding: 1% 0;
}



.deleteBtn {
    background: none;
    font-size: 100%;
    color: rgb(183, 183, 183);
    border: none;
    transition: .3s;
}

.deleteBtn:hover {
    color: white;
}

.amountBtn {
    padding: 0;
    margin: 0;
    align-self: flex-start;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    color: white;
    transition: .3s;
    font-size: 100%;
}

.plus {
    border-radius: 0 5px 5px 0 ;
}

.minus {
    border-radius: 5px 0 0 5px;
}


.amountBtn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}