.table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    font-size: 90%;

}

.table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
}

.table tbody tr {
    transition: .2s;
}

.table tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    vertical-align: center;
}

.table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.edit {
    cursor: pointer;
    background: none;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    transition: .3s;
}

.edit:hover {
    filter: brightness(1.2);
}

.edit img {
    width: 20px;
    height: 20px;
}

.AddGoodAdmin {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.AddBtnAdmin {
    background-color: #314728;
    white-space: nowrap;
    border: none;
    margin: 1% 5%;
    font-size: 90%;
    color: white;
    padding: 1% 2%;
    cursor: pointer;
    border-radius: 15px;
    transition: .3s;
}

.AddBtnAdmin:hover {
    filter: brightness(1.2);
}

.table form {
    width: 100%;
}

.table form select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    background-color: gray;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 90%;
    cursor: pointer;
}

.editSize {
    cursor: pointer;
    width: 100%;
    background-color: gray;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 90%;
}