.accountSideBar {
    display: flex;
    flex-direction: column;
    padding: 0 30px 0 0;
    border-right: 1px rgba(255, 255, 255, 0.4) solid;
    justify-content: space-between;
    height: 83vh;
}

.accountSideBar div {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.accountSideBar img {
    filter: invert(1);
    width: 20px;
    height: 20px;
}

.accountSideBar h1,
.accountSideBar h2 {
    text-align: left;
    margin: 5% 0;
    padding: 0 10%;
}

.accountSideBar h1 {
    font-size: 90%;
    letter-spacing: 0.5px;
    font-weight: 700;
    margin-bottom: 5%;
}

.accountSideBar h2 {
    font-size: 130%;
    font-weight: normal;
    letter-spacing: 0.3px;
    line-height: 30px;
    margin-bottom: 10%;
}


.defaultProfile .account-drop {
    display: none;
}

.defaultOrder .account-drop {
    display: none;
}

.account-drop {
    display: flex;
    flex-direction: column;
}

.accountSideBar button {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    background: none;
    color: white;
    font-size: 100%;
    border: none;
    border-radius: 20px;
    margin: 4% 0;
    padding: 2% 10%;
    height: 2.2rem;
}

.accountSideBar button.default:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.accountSideBar button.active {
    background-color: rgb(37, 37, 37);
}

.activeProfile .default {
    background-color: rgba(255, 255, 255, 0.05);
}

.activeOrder .default {
    background-color: rgba(255, 255, 255, 0.05);
}

.account-drop button {
    margin-left: 5%;
    font-size: 90%;
    color: rgba(255, 255, 255, 0.8);
}

.account-drop button:hover {
    color: white;
}

.account-drop button.active_drop {
    color: white;
}

.adminPage .div1 {
    margin: 0 0 0 30px;
    margin-bottom: 3%;
    width: 18%;
}

.adminPage .div2 {
    margin: 0 30px;
    margin-bottom: 3%;
    width: 82%;
}

@media screen and (max-width: 768px) {
    .adminPage {
        display: flex;
        flex-direction: row;
        margin-top: 120px;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .accountSideBar {
        display: none;
        border-right: none;
    }

    .div1 {
        /* width: 20%; */
        margin: 0 0 0 0;
        border-right: none;
        display: none;
    }

    .div2 {
        display: flex;
        width: 100%;
    }

    .pers {
        width: 100%;
        padding: 0 0 0 0;
    }
    .adminPage .div2 {
        width: 100%;
        margin: 0 0 0 0;
    }
    .adminPage .div1 {
        /* width: 20%; */
        margin: 0 0 0 0;
        padding-left: 10px;
    }
    /* .adminPage .div1 {
        width: 100%;
        margin: 0 0 0 0;
    }



    .accountSideBar {
        padding: 0 0 0 0;
        width: 20%;
        display: flex;
        flex-direction: row;
        height: auto;
    }

    .accountSideBar div {
        display: flex;
        flex-direction: row;
    }

    .div1 {
        height: 20%;
    }   

    .pers {
        width: 100%;
        padding: 0 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */
}