.accountSideBar {
    display: flex;
    flex-direction: column;
    padding: 0 30px 0 0;
    border-right: 1px rgba(255, 255, 255, 0.4) solid;
}

.accountSideBar img {
    filter: invert(1);
    width: 20px;
    height: 20px;
}

.accountSideBar h1,
.accountSideBar h2 {
    text-align: left;
    margin: 5% 0;
    padding: 0 10%;
}

.accountSideBar h1 {
    text-transform: uppercase;
    font-size: 90%;
    letter-spacing: 0.5px;
    font-weight: 700;
}

.accountSideBar h2 {
    font-family: 'Prata', serif;
    font-size: 130%;
    font-weight: normal;
    letter-spacing: 0.3px;
}

.defaultProfile .account-drop {
    display: none;
}

.defaultOrder .account-drop {
    display: none;
}

.account-drop {
    display: flex;
    flex-direction: column;
}

.accountSideBar button {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    background: none;
    color: white;
    font-size: 100%;
    border: none;
    border-radius: 20px;
    margin: 4% 0;
    padding: 2% 10%;
    height: 2.2rem;
}

.accountSideBar button.default:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.accountSideBar button.active {
    background-color: rgb(37, 37, 37);
}

.activeProfile .default {
    background-color: rgba(255, 255, 255, 0.05);
}

.activeOrder .default {
    background-color: rgba(255, 255, 255, 0.05);
}

.account-drop button {
    margin-left: 5%;
    font-size: 90%;
    color: rgba(255, 255, 255, 0.8);
}

.account-drop button:hover {
    color: white;
}

.account-drop button.active_drop {
    color: white;
}
