.account {
    height: 86%;
    padding: 7% 1%;
    display: grid;
    grid-template-columns: 18% 78%;
    grid-gap: 4%;
}

.top-menu {
    width: 100%;
}

.side-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-right: 1px rgba(255, 255, 255, 0.4) solid;
    padding: 0 6% 0 0;
}

.top-menu h1,
.top-menu h2 {
    text-align: left;
    margin: 5% 0;
    padding: 0 10%;
}

.side-menu h1 {
    text-transform: uppercase;
    font-size: 90%;
    letter-spacing: 0.5px;
    font-weight: 700;
}

.side-menu h2 {
    font-family: 'Prata', serif;
    font-size: 120%;
    font-weight: normal;
    letter-spacing: 0.3px;
}

.side-btn {
    margin-top: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.side-btn img,
.log-out img {
    width: 10%;
    height: auto;
    margin: 0 3% 0 0;
    filter: invert(1);
}

.side-btn a,
.log-out {
    width: 100%;
    text-decoration: none;
}

.side-btn button,
.log-out button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    padding: 0 8%;
    border: none;
    color: white;
    text-align: left;
    background: none;
    border-radius: 15px;
    font-size: 90%;
    font-family: 'Manrope', serif;
    transition: .3s;
}

.side-btn button:hover,
.log-out button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.account-content {
    /* background-color: blue; */
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-self: center;
    align-items: flex-start;
    justify-content: flex-start;
}

.default,
.active {
    width: 100%;
}


.active button {
    background-color: rgba(255, 255, 255, 0.1);
}

.default .account-drop {
    display: none;
}

.drop-btn {
    background: none;
}

.account-drop {
    display: flex;
    flex-direction: column;
}

.account-drop a {
    margin-left: 10%;
    text-align: left;
    font-family: 'Manrope', serif;
    font-size: 80%;
    color: #c2c2c2;
    font-weight: 500;
    transition: .3s;
    padding: 5%;
}


.account-drop a:hover {
    color: white;
}