.product {
    padding: 8% 5% 0 5%;
    font-family: 'Manrope', serif;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.scroll-panel {
    height: 81.5vh;
    overflow-y: scroll;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-panel img {
    background-color: white;
    border-radius: 20px;
    width: 50%;
    /* Фиксированная ширина для картинок в скролл-панели */
    height: auto;
    cursor: pointer;
    margin-bottom: 5px;
    /* Расстояние между картинками */
}

.product-photo {
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.product-photo img {
    width: 75%;
    height: auto;
    margin: 0%;
    padding: 0%;
    border-radius: 30px;
    background-color: white;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    width: 25%;
    padding: 5%;
}

.product-info h1 {
    padding: 0 0 10% 0;
    margin: 0%;
    font-family: 'Prata', serif;
    font-size: 160%;
    font-weight: normal;
}

.product-info h2 {
    padding: 0;
    margin: 0 0 5% 0;
    text-transform: uppercase;
    font-size: 90%;
    letter-spacing: 0.18px;
    font-weight: 600;
}

.product-info p {
    font-size: 100%;
    margin: 0 0 2% 0;
    padding: 0;
}

.liked {
    cursor: pointer;
    background: none;
    border: none;
    width: auto;
    height: auto;
    color: white;
}

.product-info img {
    filter: invert(1);
    width: 22%;
    height: auto;
}

.chooseColor {
    margin: 15% 0 6% 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 5%;
}

.chooseColor div{
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    width: 1.3vw;
    height: 1.3vw;
    cursor: pointer;
}

.product-info h3 {
    font-size: 90%;
    font-weight: normal;
    padding: 0;
    margin: 0 0 10% 0;
}

.productSize {
    border-radius: 10px;
    width: 100%;
    height: 2.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    text-align: center;
    font-size: 100%;
    font-weight: 400;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 7%;
    background-position: 95% 50%;
    background-image: url("../../IMG/icons8-вниз-90.png");
    padding-left: 3%;
    margin: 0 0 10% 0;
}

.addToBagBtn {
    background-color: white;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 2.5rem;
    font-size: 100%;
    font-weight: normal;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 10%;
}

.addToBagBtn:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.compound {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 80%;
    text-align: left;
    width: 100%;
}

.description {
    text-align: left;
    padding: 1em;
    padding-top: 2%;
    font-weight: normal;
    font-size: 90%;
    font-family: 'Prata', serif;
    letter-spacing: 1px;
    line-height: 25px;
}


@media screen and (max-width: 768px) {
    .product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 150px;
        padding: 0 0 120px 0;
        /* overflow-y: auto; */
    }

    .scroll-panel {
        display: flex;
        flex-direction: row;
        width: 90%;
        height: auto;
        /* justify-content: center; */
        overflow-x: scroll;
        margin-top: 10px;
        gap: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .scroll-panel img {
        height: auto;
        width: 100px;
    }

    .product-photo {
        width: 100%;
    }

    .product-info {
        width: 75%;
    }

    .chooseColor button {
        width: 15px;
        height: 15px;
    }
}