.modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .modal-content-admin {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 2vw;
    width: 50vw;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
} */

.modal-content a {
    text-decoration: none;
}

.order-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}


.order-info h2,
.order-info h3,
.order-info p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.order-info h2 {
    margin: 2% 0;
    font-size: 90%;
}

.order-info h3 {
    margin-bottom: 2%;
    font-size: 90%;
}

.order-info p {
    margin: 1% 0;
}

.address-in-order {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin: 1% 0;
}

.address-in-order p {
    display: flex;
    flex-direction: row;
}


.goods-in-order {
    width: 100%;
    border: none;
    margin-bottom: 10px;
    margin-top: 2%;
    border-collapse: separate;
}

.goods-in-order thead tr {
    border-radius: 20px;
}

.goods-in-order thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.302);
    font-size: 14px;
}

.goods-in-order tbody td {
    text-align: left;
    padding: 10px 15px;
}

.goods-in-order tbody tr {
    transition: .3s;
    cursor: pointer;
}

.goods-in-order tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}



@media screen and (max-width: 768px) {
    .modal-content {
        width: 70%;
        justify-content: center;
    }

}