.navbar {
    z-index: 10;
    position: fixed;
    top: 5vh;
    padding: 0.5% 0%;
    width: 100%;
    height: auto;
    display: flex;
    /* grid-template-columns: 35% 30% 35%; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-radius: 30px;
    background-color: rgba(17, 17, 17, 0.01);
    backdrop-filter: blur(30px);
}

.center {
    text-transform: uppercase;
    font-size: 180%;
    transition: .3s;
    letter-spacing: 0.5px;
}

.center:hover {
    transform: scale(1.03);
}

.center a {
    color: white;
    text-decoration: none;
    width: 30%;
}

.left {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3%;
}


.right {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3%;
}


.right a {
    color: white;
    text-decoration: none;
}

.ordinary,
.lang,
.dropDownBtn {
    background: none;
    border: none;
    color: white;
    font-size: 90%;
    transition: .3s;
    padding: 4px 8px;
    border-radius: 7px;
    cursor: pointer;
    white-space: nowrap;
}


.left button:hover,
.right button:hover {
    background-color: rgba(255, 255, 255, 0.328);
}

.right button.lang {
    cursor: pointer;
}

.right button.lang:hover {
    background: none;
    transform: scale(1.2);
}

.content {
    padding: 2vh 1vw;
    align-self: center;
    display: none;
    position: absolute;
    width: 98vw;
    height: 20vh;
    left: 0;
    background-color: none;
    border-radius: 0 0 30px 30px;
    z-index: 1;
}

.dropDown:hover .content {
    display: block;
}

.dropDown:hover .dropDownBtn {
    background-color: rgba(255, 255, 255, 0.328);
}

@media screen and (max-width: 768px) {
    .navbar {
        z-index: 10;
        position: fixed;
        top: 5vh;
        padding: 0% 0%;
        margin: 0 0 0 0;
        width: 100%;
        border-radius: 0px;
        height: 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(17, 17, 17, 0.01);
        backdrop-filter: blur(10px);
    }

    .left {
        padding-left: 10px;
    }

    .right {
        padding-right: 10px;
    }

    /* .left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
    }

    .right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
    } */

    .center a {
        /* display: none; */
        font-size: 1.2em;
    }
}
  