.womenAdmin {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    background-color: rgb(37, 37, 37);
    border-radius: 20px;
    padding: 10px 30px;
    margin: 0;
}

.col-admin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 150px;
    margin-top: 5%;
}

.womenAdmin h1 {
    color: #CDCDCD;
    align-self: flex-start;
    font-family: 'Manrope', sans-serif;
    font-size: 90%;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    margin-bottom: 5%;
}

.categoryItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.col-admin button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    transition: .3s;
    border-radius: 7px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    background-color: #472828;
}

.col-admin button:hover {
    filter: brightness(1.5);
}


.addNewSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    margin-top: 5%;
    margin-left: 60px;
    /* background-color: red; */
}

.addNewSection input {
    width: 178px;
    border: 1px solid white;
    border-radius: 10px;
    height: 20px;
    margin: 0;
    padding: 5px 10px 7px 10px;
    font-size: 90%;
    background: none;
    color: white;
}

.addNewSection button {
    width: 100%;
    margin-top: 5%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 90%;
    transition: .3s;
}

.addNewSection button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.def {
    display: none;
}

.active {
    display: block;
}

.AddCtg {
    margin-top: 5%;
}

.AddCtg input {
    width: 178px;
    border: 1px solid white;
    border-radius: 10px;
    height: 20px;
    margin: 0;
    padding: 5px 10px 7px 10px;
    font-size: 90%;
    background: none;
    color: white;
}

.AddCtg button {
    width: 100%;
    margin-top: 5%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 90%;
    transition: .3s;
}

.AddCtg button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}