/* eslint-disable-next-line */
.carousel-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}
/* eslint-disable-next-line */
.carousel-wrapper {
  display: flex;
  overflow: hidden;
}
/* eslint-disable-next-line */
.slides {
  display: flex;
  justify-content: flex-start;
  transition: transform 0.5s ease-in-out;
}

.prev, .next {
  background: none;
}