.carousel-container {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .carousel-wrapper {
    display: flex;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    justify-content: start;
    transition: transform 0.5s ease-in-out;
  }
  
  
  /* Add any additional styling as needed */
  