.modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-admin {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 2vw;
    /* width: 50vw; */
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
}

.modal-content a {
    text-decoration: none;
}

.flex-cont {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}


.header-good {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
}

.header-good h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 700;
}

.modal-content p {
    margin: 8% 0;
    padding: 0;
    font-family: 'Manrope', serif;
    font-size: 100%;
    letter-spacing: 0.2px;
    text-align: left;
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.2);
    border: none;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    float: right;
    font-size: 2rem;
    font-weight: normal;
    transition: .3s;
    padding: 0;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.4);
}

.close img {
    width: 90%;
    height: auto;
    filter: invert(1);
}

.form-edit {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.good-input-edit {
    font-family: 'Manrope', serif;
    caret-color: white;
    height: 2rem;
    background: none;
    width: 18vw;
    padding: 0 1vw;
    border: #c2c2c2 1px solid;
    border-radius: 7px;
    margin: 1% 0 2% 0;
    transition: .3s;
    color: white;
    font-size: 90%;
    margin-top: 0.5rem;
}

.text-area {
    height: 8rem;
    width: 18vw;
}

.good-input-edit::placeholder {
    color: #ffffff;
    transition: .3s;
}

.good-input-edit:focus,
.good-input-edit:hover {
    outline: none;
    border: white 1px solid;
}

.good-input-edit:hover::placeholder,
.good-input-edit:focus::placeholder {
    color: white;
}

.goodBtn {
    display: flex;
    margin: 2% 0;
    border: none;
    width: 100%;
    height: 2rem;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 120%;
    padding: 0;
    transition: .3s;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: rgba(255, 255, 255);
    color: rgb(104, 104, 104);
}

.goodBtn:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.form-group-edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3%;
}

.form-group-edit div {
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



@media screen and (max-width: 768px) {
    .modal-content {
        width: 70%;
        justify-content: center;
    }

    .good-input-edit {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .goodBtn {
        width: 100%;
    }
}