.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
}

/* Carousel.css */
@media screen and (max-width: 768px) {

  .menu-card-container {
    overflow: hidden;
    width: 100%;
    display: flex;
  }

  .menu-card-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .menu-card {
    flex: 0 0 100%;
    align-items: center;
  }

  .btnPlaceholder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.alert {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.2);;
  color: white;
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  transition: opacity 0.5s;
  opacity: 0;
}

.alert.visible {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .alert {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}


/* Add any additional styling as needed */