body {
  background-color: #111111;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'GramatikaRegular';
  src: local('Gramatika'),
    url('./fonts/Gramatika/GramatikaRegular.otf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'GramatikaBold';
  src: local('Gramatika'),
    url('./fonts/Gramatika/GramatikaBold.otf') format('truetype');
  font-weight: bold;
}


.font-gramatika-reg {
  font-family: "GramatikaRegular";
  letter-spacing: 0.5px;
}

.font-gramatika-bold {
  font-family: "GramatikaBold";
  letter-spacing: 0.5px;
  text-transform: uppercase;
}